// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
// Define fonts for body and headers
$body-font: "Roboto", "Helvetica", "sans-serif";
$headers-font: "Roboto", "Helvetica", "sans-serif";


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: 'NoScary';
//   src: font-url('/assets/NoScary-regular.ttf') format("truetype");
// }
$noscary: "Creepster";
