// Specific CSS for your home-page
#home-search-form {
  background-color: #F8F8F8;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

body {
  background-color: #4C1E4F;
}
