<h1 class="d-none">Adopt a villain</h1>

<div class="banner">
  <div id= "banner-container" class="container d-flex flex-column h-100">
    <div id="catchphrase-container">
      <h2>You have always dreamed of</h2>
      <h2 id="catchphrase">
<!--         You have always dreamed of having the Joker for you birthday?
        <br><br>
        Spending the week end with Dracula?
        <br><br>
        Playing backgammon with Darth Vador? -->
      </h2>
    </div>


    <form class="form-inline mr-auto"  action='/villains' methode='get'>
      <div id="home-search-form">
        <div>
          <input name="search[booking_address]" id="booking_address" class="form-control" type="search" placeholder="Search by location">
        </div>
        <button class="btn button-home-search" type="submit">Check the villains</button>
      </div>
    </form>
    <div id="scroll"><i class="fas fa-chevron-down"></i></div>
  </div>
</div>

<div class="d-flex justify-content-around my-5">

  <div class="card-feature">
    <%= image_tag "https://static.bimago.com/mediacache/catalog/product/cache/1/4/118141/image/650x440/cca180fee1fec294d57be8b76cb47086/118141_2.jpg" %>
    <div class="card-feature-infos">
      <h3>Find the closest available villain</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus labore fugiat molestiae dolorum commodi optio iusto facere in voluptatum perspiciatis quidem, aut. Aspernatur at quae natus sunt praesentium eius nulla.</p>
    </div>
  </div>

  <div class="card-feature">
    <%= image_tag "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F1%2F1c%2FSkull_%2526_crossbones.svg%2F622px-Skull_%2526_crossbones.svg.png&f=1&nofb=1"%>
    <div class="card-feature-infos">
      <h3>How nasty are you?</h3>
      <p>Adapt the nastiness of the villain you seek to the occasion. You don't want the same villain for a birthday party and for an interview with your boss...</p>
    </div>
  </div>

  <div class="card-feature">
    <%= image_tag "https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.onlinewebfonts.com%2Fsvg%2Fimg_37867.png&f=1&nofb=1", id: "robbery" %>
    <div class="card-feature-infos">
      <h3>Propose your services</h3>
      <p>We know that current times are hard for villains. Earn a little extra cash to achieve your ultimate goals!</p>
    </div>
  </div>

</div>
