
<div class= "container">
  <div class="row">
      <div class="col-lg-8">
        <h1><%= @villain.name %></h1>
        <p><%= @villain.description %></p>
        <table>
          <tr>
            <th>Nastiness Level</th>
            <th>Price/day</th>
          </tr>
          <tr>
            <th>villain.nastiness</th>
            <th>villain.daily_price</th>
          </tr>
        </table>
      </div>
      <div class="col-lg-4">
        <img src="app/assets/images/drax.png">
      </div>
  </div>
</div>
