.button-search{
  background: #4C1E4F;
  color: white;
  border-radius: 25px;
}

.button-signin {
  background: #4C1E4F;
  color: white;
  border-radius: 5px;
  width: 100px;
  &:hover {
  background: #white;
  color: 4C1E4F;
  }
}

.button-home-search {
  background: #4C1E4F;
  color: white;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 200px;
  height: 60px;
  font-size: 20px;
  &:hover {
  background: #250d26;
  color: white;
  }
}

.button-signup {
  background: #212529;
  color: white;
  border-radius: 5px;
  width: 100px;
  &:hover {
  background: black;
  color: white;
  }
}

.button-create {
  background: #4C1E4F;
  color: white;
  border-radius: 5px;
  width: 180px;
  &:hover {
  background: #250d26;
  color: white;
  }
}

.button-pink-flash {
  position: relative;
  display: inline-block;
  padding: 10px 50px;
  color: #e500a4;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  border: 2px solid #e500a4;
  border-radius: 30px;
  &:hover {
  background: #e500a4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #e500a4,
              0 0 25px #e500a4,
              0 0 50px #e500a4,
              0 0 100px #e500a4;
  }
}
