.button-search{
  background: #4C1E4F;
  color: white;
  border-radius: 25px;
}

.button-signin {
  background: #577590;
  color: white;
  border-radius: 5px;
  width: 100px;
}

.button-signup {
  background: #FF2E00;
  color: white;
  border-radius: 5px;
  width: 100px;
}

.button-create {
  background: #FF2E00;
  color: white;
  border-radius: 5px;
}
