.cards-booking {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;

    a {
      text-decoration: none;
      color: inherit;
      transition: transform .2s ease-in-out, filter .2s ease-in-out;
    }

      a:hover {
      transition: transform .2s ease-in-out, filter .2s ease-in-out;
      transform: scale(1.05);
      filter: grayscale(100%);
    }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-booking {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-booking {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-booking {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-booking {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-booking {
    grid-template-columns: 1fr 1fr;
  }
}

.card-booking {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-booking img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-booking p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-booking .card-booking-infos {
  padding: 16px;
}
