.form-create {
  background-color: transparent;
  border: 2px solid #e500a4;
  border-radius: 10px;
  color: white;
  width: 60%;
}

.page-create-villain {
  .container{
    display: flex;
    justify-content: center;
    align-items:center;
  }
}
