form.simple-form.search{
  justify-content: center;
}

.search-form-control {
  position: relative;
  width: 50%;
  margin: auto 0;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #4C1E4F;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
