.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: absolute;
  width: 100%;
  z-index:10;
}

.navbar-brand {
  font-family: $noscary;
  font-size:35px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
